body {
  margin: 0;
}

/* header */
.header {}

.header .menu {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.header .menu .title {
  color: #e59755;
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.header .menu .menu-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header .menu .menu-item {
  text-decoration: none;
  color: white;
  padding: auto;
  text-align: center;
  background-color: #e59755;
  width: 100%;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color .5s;
}

.header .menu .menu-item:hover {
  background-color: #c27638;
}

/* content */
.content {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1024px;
}

/* main-image */
.main-image img {
  width: 100%;
}


/* section */
.section {
  margin: 20px 0;
}

.section-title {
  border-left: 3px double black;
  border-bottom: 3px dotted black;
  padding: 0.3em;
}

.section-content {
  display: flex;
  align-items: center;
}

.section-content.reversed {
  flex-direction: row-reverse;
}

.section-content .section-image {
  margin: 10px;
}

.section-content .section-text {
  margin: 10px;
}

.section-content .section-text h2{
  color: #e59755;
  font-size: 1.5em;
}

.detail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #e59755;
  padding: 20px 100px;
  border: 2px solid #e59755;
  transition: 0.5s;
}

.detail-button:hover {
  background-color: #ecdaca;
}



/* footer */
.footer {
  position: fixed;
  bottom: 0px;
  height: 30px;
  background-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
}

.copywrite {
  margin-left: 10px;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
